PLAICRAFT_MODEL_REPO=/home/dougjohn/Documents/GitHub/LiveAgent/plaicraft_model
PLAICRAFT_CKPT=last_fp32/pytorch_model.bin
PLAICRAFT_WINDOW_TITLE=Minecraft 1.21.4
PLAICRAFT_VAE_COMPILE=0
PLAICRAFT_VAE=fast
PLAICRAFT_TARGET_MODALITIES=video,audio_hear,audio_speak,key_press,mouse_movement
PLAICRAFT_DENOISE_STEPS=10
PLAICRAFT_CHUNK_LEN =10
PLAICRAFT_GEN_SECONDS=2.0
PLAICRAFT_CADENCE_SECONDS=2.0
PLAICRAFT_DTYPE=bf16
PLAICRAFT_PROFILE= 0
PLAICRAFT_TORCH_PROFILE= 0
PLAICRAFT_AUDIO_HEAR_DEVICE=alsa_output.pci-0000_2b_00.1.hdmi-stereo.monitor
PLAICRAFT_AUDIO_SPEAK_DEVICE=alsa_input.usb-046d_C270_HD_WEBCAM_B4256110-02.mono-fallback 
# or @DEFAULT_SOURCE@
#run_live.py
#source .venv/bin/activate